body{
    text-align: center;
    background-color: black;
    color: white;
}

button{
    width: 100px;
    height:100px;
    text-align: center;
    padding: 30px;
    background-color: aqua;
}